{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://web.facebook.com/profile.php?id=100013992877054"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/callmeusman12?igsh=a3NmbmV5a2R1dWg4"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/Logic-ui"><img src="{% static 'images/github.png' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/usman-ali-b0603124a/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by Usman Ali Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->